<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bem-Vindo</title>
      <style>
          body {
              font-family: Arial, sans-serif;
              background-color: #f2f2f2;
              text-align: center;
          }
  
          div {
              margin: 20px;
          }
  
          h1 {
              color: #333;
              font-size: 24px;
          }
  
          p {
              color: #666;
              font-size: 18px;
          }
  
          img {
              max-width: 100%;
              height: auto;
          }
      </style>
  </head>
  <body>
      <div>
          <h1>Bem-Vindo ao Nosso Site!</h1>
          <p>Obrigado por nos visitar. Esperamos que você tenha uma ótima experiência.</p>
      </div>
      <div>
          <img src="https://media.giphy.com/media/xinq3U4CslT5Th6lUY/giphy.gif" alt="GIF de boas-vindas">
      </div>
  </body>
  </html>
  