.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #0077ff;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}