*{
    margin:0;
    padding: 0;
}



input{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #077bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #0251a5;
}

.new-post {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;    
  }

.header-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #0077ff;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer-home{
    width: 100%;
    height: 4vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #077bff; 
    font-size: 1.5vh;
    color: black;
    bottom: 0;
}
  
.posts {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .posts p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .posts ul {
    list-style: none;
    padding: 0;
  }
  
  .posts ul li {
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .post h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }
  
  .post p {
    font-size: 1rem;
    color: #555;
  }
  
  .post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }