*{
    padding: 0px;
    margin: 0px;
}

body{
  background-color: var(--color-background);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post {
    position: fixed; 
    left: 20vw; 
    width: 60vw;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    border-right: 1.5px solid var(--color-border);
    border-left: 1.5px solid var(--color-border);
    
  }

.creator {
  height: 10vh;
  padding: 10px;
}

.creator p {
    display: inline-block; 
    text-align: center;
}

.title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
  
.content {
  position: relative;
  top: -15px;
  padding: 0px 10px 0px 10px;
  font-size: 0.8rem;
  color: var(--color-text);
  white-space: pre-line;
  user-select: text;
  -webkit-user-select: auto; 
  -moz-user-select: auto; 
  user-select: auto; 
}

  .post a{
    text-decoration: none;
    cursor: pointer;
  }

#user{
  font-size: 25px;
}

#data_post{
  right: 0px;
  font-size: 9px;
}