*{
  padding: 0px;
  margin: 0px;
}

.posts {
  position: relative;
  top: 7vh;
  left: 20vw;
  right: 20vw;
  display: flex;
  width:  calc(60vw - 18px);
  border-bottom: 1.5px solid var(--color-border);
}

.posts p {
  font-size: 1.2rem;
  color: var(--color-text);
}

.posts ul li {
  list-style: none;
}

.posts a {
  text-decoration: none;
  user-select: none;
  user-select: text;
}

.posts .post {
  background-color: transparent;
  border-bottom: 1px solid var(--color-border);
  padding: 15px;
  text-align: justify;
}

.posts .post a{
  padding: 0px;
  margin: 0px;
}

.posts #user{
  font-size: 1.3rem;
  font-weight: bold;
}

.posts #title-post {
  font-size: 1rem; 
  font-weight: bolder;
  color: var(--color-text); 
}

.posts #content-post {
  position: relative;
  top: -15px;
  font-size: 0.8rem;
  color: var(--color-text);
  white-space: pre-line;
}

.posts #data_post{
  padding: 0px;
  margin: 0px;
  right: 0px;
  font-size: 9px;
}

.posts .mostrar_mais{
  position: relative;
  top: -15px;
  color:var(--color-1);
}

.posts .mostrar_mais:hover{
  text-decoration: underline;
}

.posts .create p {
  display: inline-block; 
}

#like {
  width: 40px;
  height: 40px;
  background-color: red;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container input:checked ~ .checkmark path {
  fill: #FF5353;
  stroke-width: 0;
}

.container input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.container:hover {
  transform: scale(1.1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
