*{
  padding: 0px;
  margin: 0px;
}

.posts {
  position: relative;
  top: 7vh;
  left: 20vw;
  right: 20vw;
  display: flex;
  width:  calc(60vw - 18px);
  border-bottom: 1.5px solid var(--color-border);
}

.posts p {
  font-size: 1.2rem;
  color: var(--color-text);
}

.posts ul li {
  list-style: none;
}

.posts a {
  text-decoration: none;
  user-select: none;
  user-select: text;
}

.posts .post {
  background-color: transparent;
  border-bottom: 1px solid var(--color-border);
  padding: 15px;
  text-align: justify;
}

.posts .post a{
  padding: 0px;
  margin: 0px;
}

.posts #user{
  font-size: 1.3rem;
  font-weight: bold;
}

.posts #title-post {
  font-size: 1rem; 
  font-weight: bolder;
  color: var(--color-text); 
}

.posts #content-post {
  position: relative;
  top: -15px;
  font-size: 0.8rem;
  color: var(--color-text);
  white-space: pre-line;
}

.posts #data_post{
  padding: 0px;
  margin: 0px;
  right: 0px;
  font-size: 9px;
}

.posts .mostrar_mais{
  position: relative;
  top: -15px;
  color:var(--color-1);
}

.posts .mostrar_mais:hover{
  text-decoration: underline;
}

.posts .create p {
  display: inline-block; 
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg  {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #E3474F;
}