*{
    padding: 0px;
    margin: 0px;
}

body{
  background-color: var(--color-background);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post {
  position: absolute;
  left: 20vw;
  right: 20vw;
  align-items: flex-start;
  flex-direction: column;
}

.creator {
  padding: 10px;
  color: var(--color-text);
}

.creator p {
    display: inline-block; 
    text-align: center;
}

#user{
  font-size: 1.3rem;
  font-weight: bold;
}

#data_post{
  right: 0px;
  font-size: 9px;
}

.title {
  font-size: 1rem; 
  font-weight: bolder;
  padding: 0px 10px 0px 10px;
  color: var(--color-text);  
}
  
.content {
  position: relative;
  padding: 10px;
  top: -40px;
  font-size: 0.8rem;
  color: var(--color-text);
  white-space: pre-line;
  text-align: justify;
}

