*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--color-background);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px; 
}
    
.profile{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline{
    position: fixed;
    top: 0;
    left: calc(20vw + 1.5px);
    right: calc(20vw + 1.5px);
    display: flex;
    align-items: center;
    height: 7vh; 
    background-color: transparent;  
    border-bottom: 1.5px solid var(--color-border);
    z-index: 9999;
    backdrop-filter: blur(5px);
    color: var(--color-text);
}

.presentation{
    position: relative;
    top: 7vh;
    left: calc(20vw + 1.5px);
    right: calc(20vw + 1.5px);
    display: flex;
    height: auto; 
    width: calc(60vw - 18px);
    flex-direction: column;
    background-color: transparent;  
    border-bottom: 1.5px solid var(--color-border);
}

.presentation .button{
    padding: 0px 10px 10px 10px;
    
}

.presentation button{
    width: 22vh;
    height: 35px;
    padding: 10px;
    background-color: var(--color-1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.profile .name {
    font-size: 24px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    color: var(--color-text);
}

.profile .email{
    margin: 0px;
    padding: 0px 10px 10px 10px;
    color: var(--color-text);
}


.profile .create p {
    display: inline-block; 
    margin-right: 10px; 
}

.timeline-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timeline-menu div{
    width: 100%;
    height: 7vh;
    border-right: 1px solid var(--color-border);
}

.timeline-menu a{
    text-decoration: none;
    color: var(--color-text);
}

.timeline-menu button{
    width: 100%;
    height: 7vh;
    border: none; 
    background: none; 
    padding: 0;
    margin: 0;
    color: var(--color-text);
}
.timeline-menu button:hover{
    background-color: #33333318; 
}

.usertimeline{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}






