.sidebarR{
  position: fixed; 
  left: calc(80vw - 1px); 
  top: 0;
  width: 20vw; 
  height: 100%; 
  background-color: transparent; 
  padding: 10px; 
  border-right: 1.5px solid var(--color-border);
  border-bottom: 1.5px solid var(--color-border);
  border-left: 1.5px solid var(--color-border);
  z-index: 9999;
  backdrop-filter: blur(5px);
}


.sidebarR .logout .Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: white;
    --white: #077bff;
    --af-white: #077bff;
    --ch-white: #077bff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 33px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
  }
  

.sidebarR .logout{
  position: absolute;
  top: 10px;
  right: 50px;
}
/* plus sign */
.sidebarR .logout .sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarR .logout .sign svg {
  width: 10px;
}

.sidebarR .logout .sign svg path {
  fill: var(--night-rider);
}
/* text */
.sidebarR .logout .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 0.9em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.sidebarR .logout .Btn:hover {
  width: 70px;
  border-radius: 5px;
  transition-duration: .3s;
  background-color: #0251a5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarR .logout .Btn:not(.search):hover {
  width: 70px;
  border-radius: 5px;
  transition-duration: .3s;
  background-color: #0251a5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarR .search {
  /* Estilo padrão do .search */
  transition: width 0.3s ease;
  width: 100px; /* Largura inicial do .search */
}

.sidebarR .logout .Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-right: 50px; /* Altere para padding-right */
}

.sidebarR .logout .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 0px; /* Altere para padding-left */
}

/* button click effect*/
.sidebarR .logout .Btn:active {
  transform: translate(2px ,2px);
}

 /* SEARCH */


.sidebarR .search .input-container {
  width: 150px;
  position: relative;
  transition-duration: .3s;
}

.sidebarR .search .icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.sidebarR .search .input {
  width: 100%;
  height: 10px;
  padding: 10px;
  color: var(--color-text);
  transition: .2s linear;
  border: 1.5px solid var(--color-1);
  font-size: 13px;
  background-color: var(--color-background);
}

.sidebarR .search .input:focus {
  outline: none;
  border: 0.5px solid var(--color-1);
  box-shadow: -5px -5px 0px var(--color-1);
}

.sidebarR .search .input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

.inner {
  transition: padding 0.5s ease; /* 0.5s é a duração da transição e 'ease' é a função de temporização para uma transição suave */
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

