.form-box{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #e0dfdf;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 400px;
}

.login h1{
    color: #333;
    font-weight: bolder
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #077bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #0251a5;
}

.cadastar{
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #077bff;
}

a:hover{
    font-weight: bolder;
    color: #0251a5;
}

